<launch>
  <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node">
    <param name="background_r" value="0" />
    <param name="background_g" value="0" />
    <param name="background_b" value="0" />
  </node>

  
  <node pkg="turtlesim" type="turtlesim_node" name="turtle1" />

  <node pkg="turtlesim" type="turtlesim_node" name="turtle2">
    <remap from="/turtle1/cmd_vel" to="/turtle2/cmd_vel" />
  </node>

  <node pkg="turtlesim" type="turtle_teleop_key" name="teleop" output="screen" />

  <node pkg="rqt_graph" type="rqt_graph" name="rqt_graph" />
</launch>